{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PawnShop - Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="{% static 'bits/sign-in.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <i class="fas fa-store"></i>
            <h1>PawnShop</h1>
            <p class="tagline">exclusive marketplace for BITS students</p>
        </div>
        
        {% if request.session.user_data %}
            <div class="user-info">
                {% if request.session.user_data.picture %}
                <img src="{{ request.session.user_data.picture }}" alt="Profile Picture" class="user-picture">
                {% endif %}
                
                <p>Signed in as</p>
                
                {% if request.session.user_data.name %}
                <p class="user-name">{{ request.session.user_data.name }}</p>
                {% endif %}
                
                <p class="user-email">
                    {% if user.email %}
                        {{ user.email }}
                    {% elif request.session.user_data.email %}
                        {{ request.session.user_data.email }}
                    {% endif %}
                </p>
                
                <a href="{% url 'sign_out' %}" class="btn btn-logout">
                    <i class="fas fa-sign-out-alt" style="margin-right: 8px;"></i>
                    Logout
                </a>
            </div>
        {% else %}
            <p class="login-message">Please sign in to continue</p>
            <div class="google-signin-container">
              <div id="g_id_onload"
                  data-client_id="1023178212985-ag817naoes93gt8dfb2d9rvb5gigndv1.apps.googleusercontent.com"
                  data-context="signin"
                  data-ux_mode="popup"
                  data-login_uri="/auth-receiver"
                  data-nonce=""
                  data-auto_select="true"
                  data-itp_support="true">
              </div>

              <div class="g_id_signin"
                  data-type="standard"
                  data-shape="pill"
                  data-theme="outline"
                  data-text="signin_with"
                  data-size="large"
                  data-logo_alignment="left">
              </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
